#portfolio {
  padding-top: 2vw;
}
#portfolio-container {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  
}
.portfolio-title {
  text-align: center;
  font-size: 4em;
}
.content-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
}
.project-n-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3rem;
  width: 20em;
}
.project-n-btn:before {
  content: '';
  opacity: 0;
  z-index: 2;
}
.project-n-btn:hover:before {
  opacity: 1;
  z-index: 1;
}
.project-div {
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem 2rem 2rem;
  margin: 0.5rem;
  color: transparent;
  height: 100%;
  border: 1px solid #909194;
  box-shadow: 0 0 2px #c4c7cc;
  z-index: 1;
}

.project-div:hover {
  filter: brightness(80%);
  color: black;
}

#background-img1 {
  background-image: url("../../assets/mint.png");
  background-size: cover;
  background-position: center;
}
#background-img2 {
  background-image: url("../../assets/onlycakes-img.png");
  background-size: cover;
  background-position: center;
}
#background-img3 {
  background-image: url("../../assets/bevo-img.png");
  background-size: cover;
  background-position: center;
}
#background-img4 {
  background-image: url("../../assets/concentration.png");
  background-size: cover;
  background-position: center;
  
}

#project-title {
  display: flex;
  justify-content: center;
  font-size: 2vw;
}

p {
  font-size: 0.9em;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1vw;
  width: 90%;
  opacity: 0;
}

.project-n-btn:hover .btn-container {
  opacity: 1;
}

.project-btn {
  display: inline-flex;
  justify-content: center;
  gap: 0.2vw;
  background-color: var(--color-primary);
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 0.5vw;
  font-size: 0.8rem;
  text-align: center;
  width: 50%;
  z-index: 3;
}

@media (max-width: 640px) {
  #project-title {
    font-size: 8vmin;
  }
  
  .btn-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .project-btn {
    width: 95%;
  }
}