#portfolio-container {
  border: none;
  height: fit-content;
  
}
.content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
#project-div {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem 3rem 3rem 3rem;
  margin: 1rem;
  min-width: 60%;
}
#project-title {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 3rem;
  
}
.btn-container {
  display: flex;
  justify-content: center;
}
.project-btn {
  background-color: var(--color-bg);
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}
.project-btn:hover {
  background-color: var(--color-bg-variant);
  border: 1px solid var(--color-bg-variant);
}
#flex-hr {
  width: stretch;
  margin-bottom: 10px;
}
#top {
  margin: 0rem 0rem 0rem 3rem;
}
#bottom {
  margin: -2rem 0rem 0rem 6rem;
}
.img {
  width: 30vw;
  height: 30vh;
}