#portfolio-container {
  border: none;
  height: fit-content;
  
}
.portfolio-title {
  text-align: center;
}
.content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
}
.project-div {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem 2rem 2rem 2rem;
  margin: 0.3rem;
  min-width: 35%;
}
#background-img1 {
  background-image: url("../../assets/mint.png");
  background-size: cover;
  background-position: center;
}
#background-img1:hover {
  background-image: none;
}
.project-div:hover {
  background-image: none;
  background-color: var(--color-bg-variant);
}
#project-title {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 4vh;
}
p {
  font-size: 1.7vmin;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.project-btn {
  background-color: var(--color-bg-variant);
  border: 1px solid var(--color-bg-variant);
  border-radius: 10px;
  padding: 1vh;
  margin: 1vh;
  font-size: 1.5vh;
}
.project-btn:hover {
  background-color: var(--color-bg-variant);
  border: 1px solid black;
}
#flex-hr {
  width: stretch;
  margin-bottom: 10px;
}
#top {
  margin: 0rem 0rem 0rem 3rem;
}
#bottom {
  margin: -2rem 0rem 0rem 6rem;
}
.img {
  width: 30vw;
  height: 30vh;
}
