#about-me {
  margin: auto;
  padding-top: 5vw;
  width: 90%;
}
.container-wrapper {
  display: flex;
  justify-content: center;
}

.about-header {
  font-size: 3.6rem;
  text-align: center;
  font-weight: 500;
  color: var(--color-primary);
}

.about-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1em;
  background: var(--color-offwhite);
  color: var(--color-gray);
  padding: 40px 130px;
  border-radius: 40px;
  font-weight: 200;
}

@media  (max-width: 900px){
  #about-me {
    margin: 1.3rem;
  }
  .container-wrapper {
    margin: auto;
    width: 100%;
    flex-direction: column;
  }
  .left-container {
    width: 18rem;
    height: 18rem;
    
  }
}