.container-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10vmin;
}
.left-container {
  width: stretch;
  height: stretch;
  margin-right: 10px;
}
.right-container {
  width: stretch;
  height: 80vh;
  border: 1px solid black;
  border-radius: 15px;
  color: black;
}
.aboutme-content {
  padding: 10vmin;
}
.about-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 8vmin;
}
.resume-btn {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;

}