#about-me {
  margin: 5rem 6rem 5rem 6rem;
  padding-top: 5vw;
}
.container-wrapper {
  display: flex;
  justify-content: center;
}
.left-container {
  background-image: url("../../assets/aboutme-img.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 35rem;
  height: 35rem;
  margin-right: 10px;
  align-self: center;
}
.right-container {
  background-color: white;
  width: 90%;
  height: fit-content;
  border: none;
  background: red;
  border-radius: 40px;
  color: black;
}
.about-header {
  font-size: 4rem;
  text-align: center;
}
.aboutme-content {
  padding: 2rem;
}
.about-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1em;
}
.resume-btn {
  background-color: var(--color-bg);
  display: inline-flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.7rem;
  gap: 1em;
}
.resume-btn:hover {
  background-color: var(--color-bg-variant);
}

@media  (max-width: 900px){
  #about-me {
    margin: 1.3rem;
  }
  .container-wrapper {
    margin: auto;
    width: 100%;
    flex-direction: column;
  }
  .left-container {
    width: 18rem;
    height: 18rem;
    
  }
}