body#contact {
  background-color: var(--color-bg-variant);
}
#contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
}
.column-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: stretch;
}
.left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: stretch;
  border: 1px solid black;
  border-radius: 10px;
  width: stretch;
  height: 30vmin;
  margin: 4vmin 10vmin 10vmin 10vmin;
  padding: 0px 30px 30px 30px;
}
#contact-header {
   align-items: center;
   margin: 0px;
}
.right-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: stretch;
}
.contact-item {
  border: 1px solid black;
  border-radius: 50px;
  margin: 20px;
  padding: 20px;
}
.hr-contact {
  margin-bottom: 40px;
}