#contact-container {
  display: flex;
  flex-direction: row;
  border: none;
}
.column-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  margin-right: 2rem;
}
.left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: stretch;
  border: 1px solid black;
  border-radius: 10px;
  min-width: 100%;
  height: fit-content;
  padding: 0px 30px 30px 30px;
  margin: 2rem 0rem 8rem 0rem;
}
#contact-header {
   align-items: center;
   margin: 0px;
}
.right-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;
  margin-bottom: 4rem;
}
.contact-item {
  display: inline-flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 50px;
  margin: 20px;
  padding: 20px;
  gap: 2em;
}
.hr-contact {
  margin: 1rem 0rem 1rem 0rem;
}