#contact-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  background: var(--color-primary)
}
.column-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-right: 2rem;
}
.left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: stretch;
  border-radius: 10px;
  padding: 0px 30px 30px 30px;
  margin: 2rem 0rem 8rem 0rem;
}
.contact-header {
  font-size: 6vmin;
  color: var(--color-offwhite);
}
#contact-header {
  align-items: center;
  color: var(--color-white);
  background: var(--color-brown);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--color-white);
}
#contact-msg {
  color: var(--color-white);
  font-size: 2.5vmin;
  font-weight: 200;
}

.right-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-bottom: 4rem;
  
}
.contact-item {
  display: inline-flex;
  align-items: center;
  background: var(--color-primary);
  border: 2px solid var(--color-offwhite);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  gap: 2em;
  font-size: 0.9rem;
  color: var(--color-white);
}
.contact-item:hover {
  background-color: var(--color-primary-light);
  font-weight: 500;
}

@media (max-width: 900px) {
  #contact-container {
    flex-direction: column;
    align-items: center;
  }
  .left-div {
    margin: 0;
  }
  .column-contact {
    margin: 0;
  }
  
}
@media (max-width: 680px) {
  .contact-header {
    font-size: 3rem;
  }
}