.container {
  border: 2px solid black;
  border-radius: 20px;
  height: fit-content;
  width: 90%;
  padding: 2rem;
  margin: auto;
  margin-top: 3rem;
}
.div-row {
  display: flex;
  flex-direction: row;
  padding: 1rem 3rem 3rem 3rem;
  height: fit-content;
}
.div-column {
  width: fit-content;
}
.table-of-content {
  width:100%;
  height: fit-content;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
}
.name {
  margin: 1em;
}
#hi {
  margin-bottom: 1vw;
  font-size: 2vw;
  font-weight: 200;
  margin-left: 14vw;
}
#last {
  display: inline-flex;
  align-items: center;
  margin-top: -30px;
  font-size: 4.8vw;
  gap: 4vw;
  color: var(--color-primary-variant);
}
.content-btns {
  display: flex;
  flex-direction: column;
}
.btn-link {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-bg);
  border: 2px solid var(--color-bg);
  border-radius: 20px;
  width: 100%;
  margin: 0.2em;
  padding: 0.7vw 0vw 0.7vw 0.6vw;
  font-weight: 100;
  font-size: 1.3rem;
  cursor: pointer;
  gap: 8rem;
}
.btn-link:hover {
  border: 2px solid black;
  background-color: var(--color-primary);
  font-weight: 300;
}
.header-corner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px 50px 20px 20px;
  color: var(--color-primary);
}
.head-photo {
  display: flex;
  justify-content: center;
  align-content: center;
}
img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid black;
}
@media (max-width: 900px) {
  .btn-link {
    gap: 5rem;
  }
  #hi {
    margin-left: 4rem;
    font-size: 2rem;
  }
  #last {
    font-size: 3rem;
    margin-top: -2rem;
    gap: 3vw;
  }
}

@media (max-width: 640px) {
  .div-row {
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .table-of-content {
    margin-top: 2rem;
  }
  .name {
    font-size: 0.8rem;
  }
  #hi {
    margin-left: 4rem;
    font-size: 4vw;
  }
  #last {
    font-size: 8vw;
    margin-top: 0;
    gap: 3vw;
  }
  img {
    width: 60%;
    height: 60%;
  }
}