.header-container {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 15vh;
  padding: 60px;
  background-image: linear-gradient(to right, var(--color-primary),var(--color-primary-light), var(--color-teal), var(--color-yellow), var(--color-yellow));
  border-radius: 40px;
}

.header-title-1-2 {
  padding: 10vmin;
  float: left;
  width: 60%;
}

#header-title-1 {
  font-size: 2vw;
  font-weight: 500;
  color: var(--color-white);
}
#header-title-2 {
  font-size: 20px;
  font-weight: 200;
  color: var(--color-yellow);
}
.header-pic {
  width: 40%;
  float: right;
  padding-right: 10vmin;
}

#clear {
  clear:both;
}

.head-photo {
  margin: auto;
}
#profile-pic {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 2px #c4c7cc;
}
@media (max-width: 900px) {
  .btn-link {
    gap: 5rem;
  }
  #hi {
    margin-left: 4rem;
    font-size: 2rem;
  }
  #last {
    font-size: 3rem;
    margin-top: -2rem;
    gap: 3vw;
  }
}

@media (max-width: 640px) {
  .div-row {
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .table-of-content {
    margin-top: 2rem;
  }
  .name {
    font-size: 0.8rem;
  }
  #hi {
    margin-left: 4rem;
    font-size: 4vw;
  }
  #last {
    font-size: 8vw;
    margin-top: 0;
    gap: 3vw;
  }
  img {
    width: 60%;
    height: 60%;
  }
}