@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --color-bg: #ECE5DF;
  --color-bg-variant: #E9CEC0;
  --color-primary: #847F7A;
  --color-primary-variant: #C4B6A7;
  --color-white: #ffffff;
  --color-light: #a1a1a1;
  --container-width-lg: 75%;
  --container-width-md: 80%;
  --container-width-ms: 90%;
}
html { 
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
}
.container {
  display: flex;
  flex-direction: column;
  
  width: var(--container-width-lg);
  margin: 0 auto;
}
h1, h2, h3, h4, h4, h5 {
  font-weight: 500;
}
p {
  font-weight: 200;
  font-size: 1.7vmin;
}
hr {
  border: 1px solid black;
}
.modal {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
  box-shadow: 0 2px 5px #bdbdbd;
  border: 1px solid #999;
  border-radius: 10px;
  margin-top: 10vmin;
  margin-left: 19vmin;
  padding: 10px;
  width: 20%;
  
}
.button {
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
  height: 20px;
  background-color: var(--color-bg);
  margin: 20px 0px 0px 20px;
}
.button:hover {
  font-weight: 300;
}
a {
  color: black;
}